#include "../Pods/Target Support Files/Pods-ThumbprintTests/Pods-ThumbprintTests.debug.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO
ARCHS[sdk=iphoneos*] = arm64
ARCHS[sdk=iphonesimulator*] = x86_64
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
BUNDLE_IDENTIFIER_SUFFIX = debug
BUNDLE_IDENTIFIER_SUFFIX_DOTTED = .debug
BUNDLE_IDENTIFIER_SUFFIX_HYPHENATED = -debug
BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/TestsHostApp.app/TestsHostApp
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CODE_SIGN_IDENTITY = iPhone Developer
COPY_PHASE_STRIP = NO
CURRENT_PROJECT_VERSION = 1
DEAD_CODE_STRIPPING = NO
DEBUG_INFORMATION_FORMAT[sdk=iphoneos*] = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[sdk=iphonesimulator*] = dwarf
DEFINES_MODULE = YES
DEVELOPMENT_TEAM = 46NH2K3SY7
ENABLE_BITCODE = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_TESTABILITY = YES
EXCLUDED_ARCHS[sdk=iphoneos*] = x86_64
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PODS_FRAMEWORK_SEARCH_PATHS)
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(PODS_GCC_PREPROCESSOR_DEFINITIONS) DEBUG=1
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
INFOPLIST_FILE = Targets/ThumbprintTests/Supporting Files/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 14.4
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
ONLY_ACTIVE_ARCH = YES
OTHER_SWIFT_FLAGS = $(inherited) $(PODS_OTHER_SWIFT_FLAGS) -DDEBUG
PRODUCT_BUNDLE_IDENTIFIER = com.thumbtack.ThumbprintTests
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = iphoneos
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
TEST_HOST = $(BUNDLE_LOADER)
USER_INTERFACE_STYLE = Automatic
VALIDATE_PRODUCT = NO
VERSIONING_SYSTEM = apple-generic
VERSION_INFO_PREFIX = 
WARNING_CFLAGS = -Wall -Wno-documentation
WRAPPER_EXTENSION = xctest
